.user-text {
  border-radius: 5px;
  border: 1px solid #bbdd11;
  box-shadow: 0 .5px 25px #000;
  margin: 20px auto;
  display: block;
  width: 80%;
}

.user-text:hover {
  background-color: #d1d1d1;
}

.user-text:hover p {
  background-color: #bbdd11;
}

.user-text p {
  font-size: 20px;
  font-style: italic;
  color: chocolate;
}


